.boton {
    padding: 5px 15px;
    margin-left: 20px;
    background-color: var(--font-colorbase);
    color: black;
    margin-bottom: 20px;
    margin-left: 30px;
}
.boton:hover {
    background-color: orangered;
    color: white;
}
label {
    padding: 5px 15px;
    margin-left: 100px;
    color: white;
    font-size: large;
}
.celdas {
    padding: 5px 15px;
    margin-left: 50px;
    background-color: var(--font-colorG);
    color: white;
    font-size: large;
}

table {
    margin: left;
}

table * {
    margin: 10px;
}

